@import "reset";

$size-text: 18px;
$color-text: rgb(190, 174, 174);

@mixin position-center ($top, $left){
    position: absolute;
    top: $top;
    transform: translate(-50%, -50%);
    left: $left;
    @if $left == 50%{
    left: $left;
    background-color: blue;
    } @else if $left == 60%{
        color: yellow;
    }
     @else{   left:$left;
        background-color: green ;
    }

}
.box{
width: 300px;
height: 300px;
background: red;
    @include position-center(50%, 60%);
}
.container{
    @include position-center(50%, 50%)
}

div{
    background-color: aquamarine;
    color: $color-text;
    // font-size: $size-text;
    font:{
        family:arial;
        size: 18px;
    }
}
nav{
    position: fixed;
    top:100px;
    ul{
        background-color: $color-text;
    }
}
p{
    color:$color-text;
    &:hover{
        color:yellow;
    }
}