div{
    background-color: rgb(156, 160, 160);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
div:hover{
    background-color: rgb(49, 49, 48);
}
.box{
    width: 150px;
    height: 150px;
    margin: 5px;
}
#item, p{
color: brown;
}
div p {
    background-color: yellow;
    color: blue;
}
span {
    background-color: red;
}
