div{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 40px;
    border: 2px solid grey;
    border-radius: 5px; 
    box-shadow: 0 0 0 10px red,0 0 0 20px rgb(77, 77, 77);
}
.text{
    font-size: 48px;
    text-shadow: 5px 5px 5px rgb(165, 165, 165);
}
.gradient{
    background-image: linear-gradient(to top right, grey, white);
    transform-origin: center;
    transform: rotate(45deg);
}
.box{
    transform: translate(100px, 100px) rotate(45deg) scale(1, 1) skew(30deg);
}
.anime{
    transition: width 3s;  
}
.anime:hover{
    height: 400px;
}
@keyframes clr{
    from{
        background: red;
    }
    to{
        background:yellow;
    }
   
}
@keyframes clr2{
    0%{
        background: red;
    }
    25%{
        background: rgb(83, 16, 4);
    }
    50%{
        background: rgb(53, 11, 3);
    }
    100%{
        background: rgb(126, 10, 10);
    }
}
.animation{
animation-name: clr2;
animation-duration: 10s;
animation-iteration-count:infinite ;
}
img{
    filter: grayscale(100%);
}
img:hover{
    filter: grayscale(0%);
}