.box{
    width: 80%;
    height: 100%;
    background-color: rgb(201, 122, 26);
    position: absolute;
    left: 10%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
    margin: 15px;
}
