section{
    padding-top: 100px;
    padding-bottom: 50px;
}
.nav-link {
    /* Style for "home" */
height: 9px;
color: #191919;
font-family: Montserrat;
font-size: 12px;
font-weight: 500;
font-style: normal;
letter-spacing: normal;
line-height: 24px;
text-align: left;
text-transform: uppercase;
/* Text style for "home" */

/* Text style for "about" */
font-style: normal;
letter-spacing: 1.2px;
line-height: normal;
}
.nav-link:nth-child(1){
    color: #10c9c3;
font-style: normal;
letter-spacing: 1.2px;
line-height: normal;

}
.col-12{
    text-align: center;
}
.progress-bar{
    height: 3px;

}