section{
    padding-top: 75px;
    padding-bottom: 75px;
}
.section1 .col-3{
    padding: 0;
}
.nav-link {
    /* Style for "home" */
    height: 9px;
    color: #191919;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
/* Text style for "home" */

/* Text style for "about" */
    font-style: normal;
    letter-spacing: 1.2px;
    line-height: normal;
}
.nav-link:nth-child(1){
    color: #10c9c3;
    font-style: normal;
    letter-spacing: 1.2px;
    line-height: normal;

}
.col-12{
    text-align: center;
}
.progress-bar{
    height: 3px;

}
.block{
    background-color: #10c9c3;
}
.mb-3{
    border: none;
}
.no-gutters{

    background-color: #10c9c3;
    border-color: #10c9c3;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "projects c" */
    font-style: normal;
    letter-spacing: 1.2px;
    line-height: normal;
}
.card-img{
    width: 45px;
    height: 45px;
    margin: 10px 0;
}
.card-title{
    font-size: 18px;
    margin: 0 0 5x;
}
.card-text{
    font-size: 12px;
    text-transform: uppercase;
}
.col-md-4{
    width: 40px;
    height: 40px;
    padding: 0;
}
.card-body{
    padding: 0 ;
    margin: 10px;
}
.col-3{
    padding: 0;
    margin: 0;
}
.card{
   text-align: center;
   border: none;
   background-color: inherit;
}
.card-deck{
    margin: 20px 0;
}
.btn-primary {
    background-color: white;
    border-color:white;
    color: #8e8e8e;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    /* Text style for "load more" */
    font-style: normal;
    letter-spacing: 1.2px;
    line-height: normal;
    border-radius: 0;
    margin: 10px 0;
}
.btn-primary:hover{
    background-color: #8e8e8e;
    color:white;
    border-color: #8e8e8e;
}

.card-img-top{
    width: 45px;
    height: 45px;
    margin: 20px 0 20px;
}
.carousel{
    height: 200px;
    //width: 700px;
   
}
.block3{
    background-color: #141414;
}
.carouselExampleSlidesOnly{
    display: flex;
    justify-content: space-between;
}
 


