ul{
    list-style-type: none ;
    width: 550px;
 }
li{
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 10px;
    width: 150px;
    background-color: rgb(197, 194, 194);
    height: 100%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(179, 177, 177);
    
}
li:nth-child(3){
    background: rgb(143, 235, 147);
}
li:nth-child(7){
    background:  rgb(143, 235, 147);
}