.board{
    width: 700px;
    height: 200px;
    background-color: grey;
    display:flex ;
}
.board__text{
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5 5 5px rgb(85, 84, 84);
    padding: 2px;
    font-stretch: wider;
}
#drop_left{
    width: 350px;
    height: 200px;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
}
#drop_right{
    width: 350px;
    height: 200px;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
}

