.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1110px;
    margin: 0px auto;
}
.content{
    flex: 1 1 auto;
}
.header__row{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    /* border: 1px solid grey; */
}
.header__menu{
    /* border: 3px solid red; */
    flex: 0 1 33.333%;
    text-align: center;
    
}
.header__menu_logo{
    text-align: left;
}
.header__menu_search{
    text-align: center;
}
.header__menu_burger{
    text-align: right;
}
.header2__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header2__brending{
    flex: 0 1 50%;
    height: 120px;
    font-size: 3.2em;
}
.header2__social{
    display: inline-flex;
    align-self: flex-end;
}
.header2__social_facebook, .header2__social_instagram,.header2__social_twitter,.header2__social_google {
    padding: 5px;
    margin: 5px;
}
.placeholder__row{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
.placeholder__big_img{
    flex: 0 1 100%;
    /* width: 100%;
    height: auto; */
}
.placeholder__item_text{
    flex: 0 1 100%;
}
.placeholder2__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.placeholder2__img {
    flex: 0 1 33.333%;
    
}
/* .placeholder2__button{
    width: 60px;
    height: 60px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    position:relative;
    z-index: 3;
    top: -270px;
    left: 150px;
}
.placeholder2__triangle{
    width: 15px;
    height: 15px;
    background-color: red;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
    position:relative;
    z-index: 4;
    top: -308px;
    left: 177px;
} */
.placeholder2__item_text{
    flex: 0 1 50%;
    text-align: left;
}
.placeholder2__item_button{
    flex: 0 1 50%;
    text-align: right;
}

.footer{
    background-color: grey;
    flex: 1 1 auto;

}
.footer::after{
    content: '';
    position: absolute;
    width: 1110px;
    bottom:-610px;
    height: 1px;
    left:78px;
    background-color:rgb(116, 114, 114);
}
.footer__row{
     display: flex; 
     flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} 
.footer__bottom_logo{
    flex: 0 1 25%;
    text-align: left;
}
.footer__bottom_list li{
    display: inline-flex;
    text-decoration: none;
    color:white;
    font-size: 14px;
}
.footer__bottom_list li{
    flex: 0 1 40%;
    text-align: center;
    margin: 0px 10px;
    font-size: 16px;
}
.footer__bottom_list li:hover{
    color:rgb(58, 56, 56);
}

.footer__bottom_sendmail{
    flex: 0 1 35%;
    text-align: right;
}
#footer_mailfield{
    width: 200px;
    height: 29px;
    margin: 0px 10px 0px 0px; 
    border: 0px;
}
#footer_sendbtn{
    background: rgb(221, 193, 153);
    width: 60px;
    height: 30px;
    color:white;
    font-size: 12px;
    border: 0px;
}

.footer__bottom_list2{
    flex: 0 1 50%;
    text-align: left;
    padding: 0px;
}
.footer__bottom_list2 li:hover{
    color:white;
}
.footer__bottom_list li:nth-child(1){
    margin: 0px 10px 0px 0px;
}
.footer__bottom_list li:nth-child(4){
    margin: 0px 0px 0px 10px;
}
.footer__social_box{
    flex: 0 1 50%;
    display: inline-flex;
    text-align: right;
    justify-content: flex-end;
    
}

.footer__social_facebook{
    margin: 0px 0px 0px 10px;
    }
.footer__bottom_list2 li{
    display: inline-flex;
    text-decoration: none;
    color:rgb(58, 56, 56);
    margin: 0px 10px;
    font-size: 14px;
}
.footer__bottom_list2 li:nth-child(1){
    margin: 0px 10px 0px 0px;
}

.footer__social_facebook, .footer__social_instagram,.footer__social_twitter,.footer__social_google {
    margin: 0px 10px;
 
}
.footer__social_facebook:hover, .footer__social_instagram:hover,.footer__social_twitter:hover,.footer__social_google:hover {
   color:white;
 
}