.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1110px;
    margin: 0px auto;
}
.content{
    flex: 1 1 auto;
}
.header__row{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    /* border: 1px solid grey; */
}
.header__menu{
    /* border: 3px solid red; */
    flex: 0 1 33.333%;
    text-align: center;
    
}
.header__menu_logo{
    text-align: left;
}
.header__menu_search{
    text-align: center;
}
.header__menu_burger{
    text-align: right;
}
.header2__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header2__brending{
    flex: 0 1 50%;
    height: 120px;
    font-size: 3.2em;
}
.header2__social{
    display: inline-flex;
    align-self: flex-end;
}
.header2__social_facebook, .header2__social_instagram,.header2__social_twitter,.header2__social_google {
    padding: 5px;
    margin: 5px;
}
.placeholder__row{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
.placeholder__big_img{
    flex: 0 1 100%;
    /* width: 100%;
    height: auto; */
}
.placeholder__item_text{
    flex: 0 1 100%;
}
.placeholder2__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.placeholder2__img {
    flex: 0 1 33.333%;
    
}
/* .placeholder2__button{
    width: 60px;
    height: 60px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    position:relative;
    z-index: 3;
    top: -270px;
    left: 150px;
}
.placeholder2__triangle{
    width: 15px;
    height: 15px;
    background-color: red;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
    position:relative;
    z-index: 4;
    top: -308px;
    left: 177px;
} */
.placeholder2__item_text{
    flex: 0 1 50%;
    text-align: left;
}
.placeholder2__item_button{
    flex: 0 1 50%;
    text-align: right;
}

.footer{
    background-color: grey;
    /* flex: 1 1 auto; */

}
.footer__row{
     display: flex; 
     flex-wrap: wrap;
    /* align-items: center; */
} 
.footer__bottom_logo{
    flex: 0 1 30%;
}
.footer__bottom_list{
    flex: 0 1 30%;
}
.footer__bottom_sendmail{
    flex: 0 1 30%;
}
.footer__bottom_list2{
    flex: 0 1 45%;
}
.footer__social{
    flex: 0 1 45%;
    display: inline-flex;
    align-self: flex-end;
}
.footer__bottom_list li{
    display: inline-flex;
    text-decoration: none;
    color:white;
}
.footer__bottom_list2 li{
    display: inline-flex;
    text-decoration: none;
    color:rgb(82, 82, 82);
}