@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.item{
    width: 600px;
    background-color: rgb(221, 240, 176);
   
}
.item__text{
font-size:1.5em;
color: green;
line-height: 1.4;
letter-spacing: 0.05em;
text-align: justify;
padding: 10px;
margin: 10px;
}